body {
    font-family: sans-serif;
}

header{
    background-color:aqua;
    padding-top: 20px;
}

h1 {
    text-align: center;
    color: blue
}

footer{
    background-color:aqua;
    padding: 20px;
}
